.App {
  text-align: center;
}

.wrap-text {
  display: inline-block;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch;
}

.episode-name {
  cursor: pointer;
}

.poster img {
  width: 100%;
}